@import url("https://fonts.googleapis.com/css2?family=Asimovian&display=swap");

@import "tailwindcss";

.font-asimovian {
  font-family: "Asimovian", sans-serif;
}

html,
body {
  margin: 0;
  height: 100%;
  overflow: hidden; /* prevent scrollbars */
}
